In [1]:
import configparser
from utils import etl

Instanciamos el objeto etl_manager de la clase ETL

In [2]:
config = configparser.ConfigParser()
config.read('escec.cfg')

['escec.cfg']

In [3]:
etl_manager = etl.ETL(config)

Creamos la instancia del DW

In [4]:
etl_manager.crear_dw('grocery')

La Instancia de Base de Datos ya Existe.
grocery.cdypjxkrdsb2.us-east-1.rds.amazonaws.com
result  <sqlalchemy.engine.cursor.LegacyCursorResult object at 0x0000026C0BA8FA30>

Formamos las dimensiones del DW

In [5]:
etl_manager.crear_dim_categoria()

categoria_dim_df
            subCategory  idSubCategory           category
0              Masalas              1       Oil & Masala
1    Edible Oil & Ghee             13       Oil & Masala
2               Spices             21       Oil & Masala
3        Health Drinks              2          Beverages
4          Soft Drinks             15          Beverages
5         Atta & Flour              3        Food Grains
6      Organic Staples              5        Food Grains
7        Dals & Pulses             16        Food Grains
8                 Rice             22        Food Grains
9     Fresh Vegetables              4   Fruits & Veggies
10        Fresh Fruits              6   Fruits & Veggies
11  Organic Vegetables             17   Fruits & Veggies
12      Organic Fruits             19   Fruits & Veggies
13            Biscuits              7             Bakery
14               Cakes              8             Bakery
15       Breads & Buns             23             Bakery
16          Chocolates              9             Snacks
17             Cookies             11             Snacks
18             Noodles             18             Snacks
19                Eggs             10  Eggs, Meat & Fish
20             Chicken             12  Eggs, Meat & Fish
21              Mutton             14  Eggs, Meat & Fish
22                Fish             20  Eggs, Meat & Fish

In [6]:
etl_manager.crear_dim_cliente()

clientes_dim_df
       idCustomer     name         city       state region
0              1   Harish      Vellore  Tamil Nadu  North
1              2    Sudha  Krishnagiri  Tamil Nadu  South
2            224   Arvind  Krishnagiri  Tamil Nadu  South
3            301   Arutra  Krishnagiri  Tamil Nadu  South
4            311     Ravi  Krishnagiri  Tamil Nadu  South
...          ...      ...          ...         ...    ...
4127        3860  Hussain         Bodi  Tamil Nadu  South
4128        3869    Yusuf         Bodi  Tamil Nadu  South
4129        3899  Ridhesh         Bodi  Tamil Nadu  South
4130        4062   Sundar         Bodi  Tamil Nadu  South
4131        4065    Veena         Bodi  Tamil Nadu  South

[4132 rows x 5 columns]

In [7]:
etl_manager.crear_dim_fechas()

fechas_dim_df
        fullDate    idDate  dayOfWeek  dayNumInMonth  dayNumOverall    dayName  \
0    2017-11-08  20171108          3              8            312  Wednesday
2    2017-06-12  20170612          1             12            163     Monday
3    2016-10-11  20161011          2             11            285    Tuesday
5    2015-06-09  20150609          2              9            160    Tuesday
12   2018-04-15  20180415          7             15            105     Sunday
...         ...       ...        ...            ...            ...        ...
9684 2017-08-20  20170820          7             20            232     Sunday
9749 2016-05-16  20160516          1             16            137     Monday
9804 2015-03-16  20150316          1             16             75     Monday
9832 2016-08-29  20160829          1             29            242     Monday
9885 2017-04-06  20170406          4              6             96   Thursday

     dayAbbrev  weekdayFlag  weekNumInYear  weekNumOverall weekBeginDate  \
0          Wed         True             45              45    2017-11-06
2          Mon         True             24              24    2017-06-12
3          Tue         True             41              41    2016-10-10
5          Tue         True             24              24    2015-06-08
12         Sun        False             15              15    2018-04-09
...        ...          ...            ...             ...           ...
9684       Sun        False             33              33    2017-08-14
9749       Mon         True             20              20    2016-05-16
9804       Mon         True             12              12    2015-03-16
9832       Mon         True             35              35    2016-08-29
9885       Thu         True             14              14    2017-04-03

      month  monthNumOverall monthName monthAbbrev  quarter  year
0        11               11  November         Nov        4  2017
2         6                6      June         Jun        2  2017
3        10               10   October         Oct        4  2016
5         6                6      June         Jun        2  2015
12        4                4     April         Apr        2  2018
...     ...              ...       ...         ...      ...   ...
9684      8                8    August         Aug        3  2017
9749      5                5       May         May        2  2016
9804      3                3     March         Mar        1  2015
9832      8                8    August         Aug        3  2016
9885      4                4     April         Apr        2  2017

[1236 rows x 17 columns]